body {
  margin: 0;
  padding: 0;
  background-color: #a9c79d;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.section {
  width: 45%;
  margin-right: 5%;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.section {
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 10px;
}

.section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section li {
  margin-bottom: 5px;
}

.section li:last-child {
  margin-bottom: 0;
}

.section .sub-heading {
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
}

.navbar li a:hover {
  background-color: #ffffff;
}